./Day15/.idea/Day15.iml ./Day15/.idea/inspectionProfiles ./Day15/.idea/misc.xml ./Day15/.idea/modules.xml ./Day15/.idea/vcs.xml ./Day15/.idea/workspace.xml
./Day15/__pycache__/data.cpython-39.pyc ./Day15/__pycache__/utils.cpython-39.pyc
./Day15/__pycache__/data.cpython-39.pyc ./Day15/__pycache__/utils.cpython-39.pyc
./Day15/.idea
